.main {
  padding: 0;
  border-radius: 6px;
  border: solid 1px var(--color-medium-light-gray-500);
  width: 360px;
  text-align: left;
  color: var(--color-medium-light-gray-600);
  font-family: "Monaco", "Courier New", Courier, monospace;

  &.draft {
    background: var(--color-medium-light-gray-100);
  }

  &.considerationLedger {
    background: var(--color-red-100);
  }

  &.nftLedger {
    background: var(--color-green-100);
  }

  ul {
    padding: 10px 0;

    h6 {
      color: var(--color-medium-light-gray-600);
    }

    li {
      font-size: 13px;
      margin: 0 0 5px;
      height: 25px;
      list-style: none;
      line-height: 1.4rem;
      padding: 0 10px;
      font-family: "Monaco", "Courier New", Courier, monospace;
    }
  }
}

.propertyItem {
  display: flex;
  margin-top: 5px;
}

.propertyKey {
  font-weight: bold;
}

.propertyValue {
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline;

  &:hover {
    background: white;
    white-space: normal;
    display: table;
    height: 100%;
    z-index: 10;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  }
}

.title {
  border-bottom: solid 1px var(--color-medium-light-gray-500);
  text-align: center;
  padding: 5px 20px;
  color: var(--color-medium-light-gray-600);
}

.properties {
  border-bottom: solid 1px var(--color-medium-light-gray-500);
}
