.main {
  &:hover {
    background: var(--color-medium-light-gray-300);
    cursor: pointer;
  }
}

.chevron {
  padding: 0;

  svg {
    width: 18px;
    fill: var(--color-dark-gray);
  }

  &.open {
    svg {
      transform: rotate(90deg);
    }
  }
}

.lotDetail {
  display: flex;
  align-items: center;
}

.thumbnail {
  max-width: 64px;
  max-height: 64px;
  margin-right: 12px;
}
