.main {
  padding: 0;

  th,
  td {
    padding: 16px 8px;
  }

  > td:first-of-type {
    max-width: 100%;
    padding: 20px;

    &::after {
      display: none;
    }
  }
  .tableHead {
    background: none;
  }
}

.bidRejected {
  opacity: 0.4;
}
