.input {
  margin-top: var(--p-4);
}

.ctas {
  margin-top: var(--p-8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--p-4);
}

.amountInputs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 16px;
}

.bidPosting {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  inset: 0;
  display: flex;
}

.bidDetails {
  margin: 20px 0;

  li {
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    display: flex;

    .bidDetailsKey {
      font-weight: bold;
      margin-right: 10px;
      min-width: 140px;
      text-align: right;
    }

    .bidDetailsValue {
      background: rgba(0, 0, 0, 0.05);
      padding: 2px 10px;
      border-radius: 4px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        background: white;
        overflow: visible;
      }
    }
  }
}
