.input {
  margin-top: var(--p-4);
}

.ctas {
  margin-top: var(--p-8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--p-4);
}

.amountInputs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 16px;
}

.bidPosting {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  inset: 0;
  display: flex;
}
