.input {
  margin-top: var(--p-4);
}

.ctas {
  margin-top: var(--p-8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--p-4);
}

.amountInputs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 16px;
}

.modal {
  position: relative;
  inset: 40px;
  box-shadow: 0 3px 6px rgba(29, 35, 67, 0.2);
  background-color: var(--color-light-gray-300);
  border-radius: 0.375rem;
  padding: 2rem;
  min-width: 400px;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(74, 79, 105, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bidPosting {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  inset: 0;
  display: flex;
}
