@r3:registry=https://software.r3.com/artifactory/api/npm/extensions-npm/
//software.r3.com/artifactory/api/npm/extensions-npm/:_auth=${CORDA_ARTIFACTORY_PASSWORD}
//software.r3.com/artifactory/api/npm/extensions-npm/:username=${CORDA_ARTIFACTORY_USERNAME}
//software.r3.com/artifactory/api/npm/extensions-npm/:email=${CORDA_ARTIFACTORY_USERNAME}
//software.r3.com/artifactory/api/npm/extensions-npm/:always-auth=true