.main {
  padding: 12px;
  border: solid 1px var(--color-medium-light-gray-500);
  width: 230px;
  pointer-events: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.draft {
    background: var(--color-medium-light-gray-100);
  }

  &.blue {
    background: #8de0ff;
  }

  &.green {
    background: var(--color-green-300);
  }

  .title {
    color: var(--color-medium-light-gray-600);
    font-family: "Monaco", "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: bold;
  }
}
